# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================================
# Virtual Environment
# ==========================================================
.venv/
venv/
env/

# ==========================================================
# Jupyter Notebook
# ==========================================================
.ipynb_checkpoints/

# ==========================================================
# VS Code
# ==========================================================
.vscode/

# ==========================================================
# Logs
# ==========================================================
logs/
*.log

# ==========================================================
# Backup
# ==========================================================
backup/

# ==========================================================
# Cache
# ==========================================================
.cache/
*.tmp

# ==========================================================
# Excel Temporary Files
# ==========================================================
~$*.xlsx
~$*.xls

# ==========================================================
# AI Models
# ==========================================================
*.joblib
*.pkl

# ==========================================================
# Operating System
# ==========================================================
.DS_Store
Thumbs.db
desktop.ini